# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
flask
requests
pandas
scikit-learn
matplotlib
seaborn
numpy
joblib
yaml
python-dotenv>=0.5.1
gunicorn
Jinja2
pickle
Werkzeug
