<!DOCTYPE html>
<html>

<head>
    <title>
        Email Spam Classifier
    </title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Ticket Classifier</h1>
    <div>
        <form method="post" action="/predict">
            <textarea rows="12" cols="60" name="content" placeholder="Enter your email here"
                autocomplete="off">{{ email }}</textarea>
            <div>
                <button type="submit">
                    Button
                </button>
                <a href="/">Reset</a>
            </div>
        </form>

    </div>
    <div>
        
        {% if prediction ==0 %}
        <h2 style="color: red">Checking or savings account</h2>
        {% elif prediction ==1 %}
        <h2 style="color: red">Credit card or prepaid card</h2>
        {% elif prediction ==2 %}
        <h2 style="color: red">Credit reporting, credit repair services, or other personal consumer reports</h2>
        {% elif prediction ==3 %}
        <h2 style="color: red">Debt collection</h2>
        {% elif prediction ==4 %}
        <h2 style="color: red">Money transfer, virtual currency, or money service</h2>
        {% elif prediction ==5 %}
        <h2 style="color: red">Mortgage</h2>
        {% elif prediction ==6 %}
        <h2 style="color: red">Payday loan, title loan, or personal loan</h2>
        {% elif prediction ==7 %}
        <h2 style="color: red">Student loan</h2>
        {% elif prediction==8 %}
        <h2 style="color: red">Vehicle loan or lease</h2>
        {% else %}
        <h2 style="color: green">Please enter another complaint!</h2>
        {% endif %}
        <!-- <p id="display"></p> -->
    </div>
</body>

</html>